{% extends 'base.html' %}
{% block title %}MLH Fellow Portfolio{% endblock %}

{%block content%}
<!-- Profile -->
<div class="profile">
    <div class="profile-picture">
        <img src="/static/img/profile-pic.jpeg">
    </div>
    <h1>Arshiya Hussain</h1>
    <p class="subtitle">MS Computer Science @ Northeastern · MLH Fellow</p>
</div>

<!-- About -->
<section class="section" id="about">
    <h2>About Me</h2>
    <div class="about-card">
        <p>{{ about }}</p>
    </div>
</section>


{%endblock%}